.textAnim {
    align-items: center;
    color: #e5e5e5;
    font-size: 1.3rem;  /* Further reduced font size */
    text-transform: uppercase;
    display: flex;
}

.animation {
    height: 30px;  /* Adjusted height */
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.2rem 0.7rem;  /* Adjusted padding */
    height: 1.65rem;  /* Adjusted height */
    margin-bottom: 1.65rem;  /* Adjusted margin */
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div, .second div, .third div {
    background-color: #9C84B8;
    color: rgb(16, 16, 16);
}

@keyframes text-animation {
    0%, 10%, 90%, 100% {
        margin-top: 0;
    }
    20%, 30%, 70%, 80% {
        margin-top: -3.3rem;  /* Adjusted margin */
    }
    40%, 60% {
        margin-top: -6.6rem;  /* Adjusted margin */
    }
}
