html,
body {
    padding: 0;
    height: 100%;
    color: whitesmoke;
    background-color: rgb(33, 32, 37);
}

.grid-item.hidden {
    display: none;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(18, 18, 20);
}

.homeButton:hover img {
    opacity: .7;
}

.title {
    text-align: left;
    font-family: "Recoleta";
    font-size: 60px;
    background-color: #1e1d21;
    margin-left: 13%;
}

.item1 p{
    font-size: 90%;
    margin-top: 0px;
    margin-bottom: 1vw;
    margin-left: 13%;
}

.filter-buttons button{
    /*margin: 4vw 2vw;*/
    border: none;
    font-family: "AvenirLight";
    background-color: #1e1d21;
    color: whitesmoke;
    padding: 0;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
}

.filter-buttons button:first-child{
    margin-left: 13%;
}

/*Main Blog Sections*/
.blog-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.item1 {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #1e1d21;
    padding-bottom: 100px;
}

.item1 hr {
    width: 10%;
    height: 4px;
    background-color: whitesmoke;
    border-width: 0;
    margin-left: 0;
    margin-top: 1%;
}


.buttons {
    background-color: #1e1d21;
}


/*All Entries Section*/
.blogpost {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 600px;
    /* Total height: 200px + 100px (estimated for text) + 50px = 350px */
}

.blogimg {
    grid-area: 1 / 1 / 2 / 2;
    width: 250px;
    height: 200px;
    overflow: hidden;
    /* This ensures that if the image is larger than the set dimensions, it won't spill out */
}

.blogimg img {
    width: 250px;
    height: auto;
    border-radius: 30px 0px;
    display: flex;
    justify-content: center;
}

.blogtext {
    grid-area: 2 / 1 / 3 / 2;
    width: 250px;
}

.blogtext h2,
.blogtext p {
    margin: 0;
    padding: 10px 0px;
    max-width: 250px;
}

.blogtext h2 {
    padding: 20px 0px;
}


.blogbutton {
    grid-area: 3 / 1 / 4 / 2;
    border: none;
    color: whitesmoke;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.blogbutton a.button.button1 {
    display: inline-block;
    /* This makes the anchor behave more like a button */
    text-align: center;
    /* Center the text, if needed */
    font-size: 17px;
    /* Add other button styles as needed */
    height: 45px;
    /* Example height, adjust as needed */
    line-height: 45px;
}


.button1 {
    background-color: rgb(33, 32, 37);
    color: whitesmoke;
    border: 2px solid #ffffff;
    width: 50%;
    height: 25%;
    border-radius: 30px;
    border-color: whitesmoke;
    border-width: 1px;
    font-family: 'AvenirLight';
    font-size: 18px;
}

.button1:hover {
    background-color: #9C84B8;
    color: whitesmoke;
}

.all-entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Allow the items to wrap to the next line */
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #202025;
    /* Center the container */
}

.all-entries{
    margin-top: 5vw;
}

.grid-item {
    margin: 0px 2vw;
}

.active-button {
    font-weight: bold;
}
