html,
body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(16, 16, 16);
    color: whitesmoke;
    word-wrap: break-word;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 0px;
}

a,
h3,
h4 {
    font-family: 'Avenir';
}

ul {
    list-style: none;
    padding-left: 0;
    font-family: 'AvenirLight';
}

p {
    font-family: 'AvenirLight';
    justify-content: space-between;
    font-size: 22px;
}

.hamburger {
    /* By default, hide the hamburger icon */
    display: none;
}

.hamburger div:last-child {
    margin-left: auto;
    padding-right: 3%;
}

.redSquares li {
    /*Spacing between bullet points*/
    margin-bottom: 2%;
}

@media screen and (min-width: 760px) {
    #wrapper {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 30% 30% auto;
        grid-template-areas:
            "images images sidebar"
            "section1 section1 section1"
            "section2 section2 section2"
            "section3 section3 section3"
            "footer footer footer"
    }
}

.boxGrid{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

#box1{
}

.openbtn {
    cursor: pointer;
    background-color: #111;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

a:link {
    /* unvisited link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    /* visited link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    /* mouse over link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:active {
    /* selected link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li::before {
    content: "■";
    display: inline-block;
    width: 1em;
    margin-left: 1px;
    margin-top: 10px;
}

footer {
    grid-area: footer;
    text-align: left;
    color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerLink {
    letter-spacing: 10px;
    display: inline;
}

#footer {
    background-color: rgb(16, 16, 16);
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    /* Footer height */
}

#content-wrap {
    padding-bottom: 2.0rem;
}



img {
    object-fit: contain;
    width: 100%;
    border-radius: 10%;
}

aside {
    grid-area: sidebar;
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 15%;
}

section,
aside,
article {
    /*General body styling*/
    padding: .5rem;
    word-wrap: break-word;
}

section
{
    margin: 5% 20% 0% 20%;
}

#images {
    /*Slideshow*/
    grid-area: images;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 10%;
}

#section1 {
    grid-area: section1;
    border-radius: 10px;
}



#section2 {
    grid-area: section2;
}

#section3 {
    grid-area: section3;
}


.sidepanel {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidepanel a:hover {
    color: rgb(255, 255, 255);
}

.sidepanel a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:not(.closebtn) {
    margin: 5px 10px;
}

.link1 {
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 10px;
}

.link2 {
    grid-area: 3 / 1 / 4 / 2;
}

.closebtn {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 25%;
    margin-left: 65%;
}

@media (max-width: 760px) {
    /*Handles elements at smaller screen*/

    .hamburger {
        display: flex;
        align-items: center;
    }

    .hamburger>div {
        padding-left: 3%;
    }

    #wrapper {
        display: grid;
        height: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "images"
            "sidebar"
            "article"
            "section1"
            "section2"
            "section3"
            "aboutMe"
            "footer"
    }

    .navigation {
        display: none;
    }

    .buttons {
        display: none;
    }

    header {
        margin: 0 10%;
    }

    section {
        grid-area: section;
        overflow: visible;
        margin: 0% 5% 0% 5%;
    }

    article {
        padding: 20px 40px;
        margin: 10% 0% 10% 5%;
        /* border-radius: 10px 0 0 10px; */
    }

    aside {
        margin: 0% 10%;
    }

    .footerLink {
        display: flex;
        gap: 20px;
    }

    footer {
        grid-area: footer;
        text-align: left;
        font-size: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }