@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Medium'), local('Recoleta-Medium'),
      url('../media/Recoleta/Recoleta-Medium.woff2') format('woff2'),
      url('../media/Recoleta/Recoleta-Medium.woff') format('woff'),
      url('../media/Recoleta/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('../media/Avenir/AvenirLTStd-Roman.otf') format('opentype'),
      url('../media/Avenir/AvenirLTStd-Roman.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvenirLight';
    src: url('../media/Avenir/AvenirLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }


  h1{
    font-family: 'Recoleta';
  }

  h2, h3, h4{
    font-family: 'Avenir';
  }

  p, small, li, a, button{
    font-family: 'AvenirLight';
  }
