/* Styles for button*/
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 0% 1% 15%;
  font-family: 'Avenir';
}

.buttons>div {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}

.homeButton img {
  width: auto;
  height: 65px;
}

.homeButton:hover img{
  opacity: .7;
}

.homeButton {
  margin-right: 50px;
  padding-top: 5px;
  flex-grow: 1;
}

.blogButton{
  margin-right: 15%;
}

.caseStudyButton{
  margin-right: 30px;
}

.projectsButton,
.blogButton{
  padding-right: 0%;
}

@media (max-width: 760px) {
  .buttons {
    display: none;
  }
}