  .flex-container {
    display: flex;
    justify-content: flex-start;
    height: 600px;
  }
  
  /*The three sections of the intro*/
  .intro {
    width: 45%;
    /* Fixed width for each flex item */
    flex-grow: 0;
  }
  
  .portrait {
    /* flex:1 1 auto; */
    flex-grow: 0;
    padding: 0;
    margin: 0;
  }
  
  .contact {
    /* flex:1 1 auto; */
    flex-grow: 0;
    padding-top: 3%;
    flex-shrink: 1;
  }
  
  .img {
    display: block;
    height: 100%;
    width: auto;
  }
 
  /* The three text areas in the intro*/
  .intro_text {
    display: flex;
    /* flex-flow: column; */
    flex-direction: column;
    padding-left: 30%;
    padding-top: 5%;
  }
  
  /* Adjusting margin for <p> inside .intro_text */
  .intro_text .blurb p {
    margin-top: 20px;
  }
  
  /* Adjusting margin for <h1> inside .intro_text */
  .intro_text .name h1 {
    margin-bottom: 1px;
  }
  
  .blurb2 h1 {
    margin-top: 10%;
    margin-bottom: -2%;
  }
  
  .name {
    white-space: nowrap;
    z-index: 2;
  }
  
  .contactLinks {
    margin-top: 20%;
  }

  .contactLinks a {
      /* This will ensure each link occupies its own line */
    display: block;
    /* Adjust this value to increase/decrease space between icons */
    margin-bottom: 0px;
    /* Adjust this value to change the icon size */
    font-size: 25px;
    /* Removes the underline from the links */
    text-decoration: none;
    /* Ensures the icons inherit the color of the parent element */
    color: inherit;
  }
  
  .contactLinks>p {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 12px;
  }
  
  .contactLinks a:hover {
    /* Example color for hover. Adjust as needed. */
    color: #9C84B8;
  }
  
  
  /* Adjusting the image's opacity on hover */
.homeButton:hover img {
  opacity: 0.7; /* Change this value to get the desired opacity */
}

/* Adding a color overlay using a pseudo element */
.homeButton {
  position: relative;
  display: inline-block;
}

.homeButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s; /* Smooth transition */
  pointer-events: none; /* Ensures the pseudo element doesn't interfere with link actions */
}

.homeButton:hover::before {
  opacity: 1; /* Show the color overlay on hover */
}

.textAnim {
  align-items: center;
  color: #e5e5e5;
  font-size: 1.3rem;  /* Further reduced font size */
  text-transform: uppercase;
  display: flex;
  font-family: 'Avenir';
}

.animation {
  height: 30px;  /* Adjusted height */
  overflow: hidden;
  margin-left: 1rem;
}

.animation>div>div {
  padding: 0.2rem 0.7rem;  /* Adjusted padding */
  height: 1.65rem;  /* Adjusted height */
  margin-bottom: 1.65rem;  /* Adjusted margin */
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div, .second div, .third div {
  background-color: #9C84B8;
  color: rgb(16, 16, 16);
}

@keyframes text-animation {
  0%, 10%, 90%, 100% {
      margin-top: 0;
  }
  20%, 30%, 70%, 80% {
      margin-top: -3.3rem;  /* Adjusted margin */
  }
  40%, 60% {
      margin-top: -6.6rem;  /* Adjusted margin */
  }
}
