.languages_frameworks{
    padding: 50px 0px;
    font-family: 'AvenirLight';
}

.languages_frameworks h1{
    font-family: 'Avenir';
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #100f0f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 13%;
}

.grid-container img{
    width: 50px;
    height: auto;
    padding-right: 5%;
}

.grid-item {
    display: flex;
    padding: 20px;
    background-color: rgb(33, 32, 37);
    color: white;
    text-align: left;
    border-radius: 0px;
    transition: transform 0.3s;
    border-style: none;
    border-left: solid;
    border-color: rgb(52, 46, 74);
    border-width: 2px;
    align-items: center;     /* Vertically center */
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: #37424f;
}
