 
  .flex-container {
    display: flex;
    justify-content: flex-start;
    height: 700px;
  }
  
  /*The three sections of the intro*/
  .intro {
    width: 45%;
    /* Fixed width for each flex item */
    flex-grow: 0;
  }
  
  .portrait {
    /* flex:1 1 auto; */
    flex-grow: 0;
    padding: 0;
    margin: 0;
  }
  
  .contact {
    /* flex:1 1 auto; */
    flex-grow: 0;
    padding-top: 3%;
    flex-shrink: 1;
  }
  
  .img {
    display: block;
    height: 100%;
    width: auto;
  }
 
  /* The three text areas in the intro*/
  .intro_text {
    display: flex;
    /* flex-flow: column; */
    flex-direction: column;
    padding-left: 30%;
    padding-top: 5%;
    font-family: 'SanfordBook';
  }
  
  /* Adjusting margin for <p> inside .intro_text */
  .intro_text .blurb p {
    margin-top: 20px;
  }
  
  /* Adjusting margin for <h1> inside .intro_text */
  .intro_text .name h1 {
    margin-bottom: 1px;
  }
  
  .blurb2 h1 {
    margin-top: 10%;
    margin-bottom: -2%;
  }
  
  .name {
    font-family: 'Recoleta';
    white-space: nowrap;
    z-index: 2;
  }
  
  .contactLinks {
    margin-top: 20%;
    font-family: 'SanfordBook';
  }

  .contactLinks a {
      /* This will ensure each link occupies its own line */
    display: block;
    /* Adjust this value to increase/decrease space between icons */
    margin-bottom: 0px;
    /* Adjust this value to change the icon size */
    font-size: 25px;
    /* Removes the underline from the links */
    text-decoration: none;
    /* Ensures the icons inherit the color of the parent element */
    color: inherit;
  }
  
  .contactLinks>p {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 12px;
  }
  
  .contactLinks a:hover {
    /* Example color for hover. Adjust as needed. */
    color: #9C84B8;
  }
  
  
  /* Adjusting the image's opacity on hover */
.homeButton:hover img {
  opacity: 0.7; /* Change this value to get the desired opacity */
}

/* Adding a color overlay using a pseudo element */
.homeButton {
  position: relative;
  display: inline-block;
}

.homeButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s; /* Smooth transition */
  pointer-events: none; /* Ensures the pseudo element doesn't interfere with link actions */
}

.homeButton:hover::before {
  opacity: 1; /* Show the color overlay on hover */
}

