html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: 'Recoleta';
  src: local('Recoleta Medium'), local('Recoleta-Medium'),
    url('../media/Recoleta/Recoleta-Medium.woff2') format('woff2'),
    url('../media/Recoleta/Recoleta-Medium.woff') format('woff'),
    url('../media/Recoleta/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SanfordBook';
  src: local('SanfordBook'),
    url('../media/SanfordBook/SanfordBook.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rianti';
  src: local('Rianti'),
      url('../media/Rianti/Rianti.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Styles for button*/
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 13%;
}

.buttons>div {
  border-radius: 5px;
  /* Set a specific width for each button */
  width: 100px;
  /* Set a specific height for each button */
  height: 50px;
  /* To center the content inside each button */
  display: flex;
  /* Center content vertically */
  align-items: center;
}

.buttons>div:last-child {
  /* Remove the right margin for the last button to avoid extra spacing on the right */
  margin-right: 0;
}

.homeButton img {
  width: auto;
  height: 65px;
}

.homeButton {
  margin-right: 50px;
  padding-top: 5px;
}

.projectsButton,
.blogButton {
  padding-right: 0%;
}

/* 3 sections of home page */
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
}

.section1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(33, 32, 37);
}

.section2 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #1e1d21;
}

.section2 h1{
  padding-left: 15%;
}

.section3 h1{
  padding-left: 15%;
}
.section3 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: rgb(33, 32, 37);
}

.parent h1, h2{
  font-family: 'Recoleta';
}

/* Remove underline from link in its normal state */
a {
  text-decoration: none;
  color: #7f7f83;
}

/* Remove underline from link when it's hovered over */
a:hover {
  text-decoration: none;
  color: white;
}

/* Remove underline from link when it's active (being pressed) */
a:active {
  text-decoration: none;
}

/* Remove underline from link once it has been visited */
a:visited {
  text-decoration: none;
}